html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: normal 22px Verdana, Tahoma, sans-serif;
  min-height: 100%;
  transition: background .5s linear;
  -webkit-transition: background .5s linear;
  -moz-transition: background .5s linear;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background: #fff;
  color: #000;
}